{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}

    <div class="container">
        <h1>Catégorie : {{ category.name }}</h1>
        {# TODO: Afficher dynamiquement le nombre de projets de la catégorie en cours #}
        <p>Il y a 3 projets dans cette catégorie :</p>
        <div class="row">
            {% for project in category.projects %}
                <article class="col-4">
                    {% include 'project/_thumbnail.html.twig' with {'project': project} only %}
                </article>
            {% endfor %}
        </div>
    </div>

{% endblock %}
