{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="container">
        <h1>Bienvenue sur Fund My Project</h1>
        <p>Aidez-nous à créer de nouveaux projets chaque jour !</p>
        <div class="row">
            {% for project in projects %}
                <article class="col-4"> {# J'ai volontairement laissé cette balise ici pour pouvoir choisir le nombre de colonnes de chaque thumbnail sur d'autres pages #}
                    {% include 'project/_thumbnail.html.twig' with {'project': project} only %}
                </article>
            {% endfor %}
        </div>
    </div>

{% endblock %}
